.card-image {
  height: 180px;
  object-fit: contain;
}

.card {
  height: 180px;
}

.card-image img {
  object-fit: contain;
}

@media only screen and (min-width: 1000px) {
  .card-image {
    height: 300px;
  }
  .card {
    height: 300px;
  }
}

.MuiCardContent-root {
  padding: 0.5em !important;
}

.card-links {
  text-decoration: none;
}
